     /* ANIMACION DE VIBRACION    *** VIBRAR *** */

@-webkit-keyframes vibrar {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes vibrar {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.vibrar {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.vibrar:hover, .vibrar:focus, .vibrar:active {
  -webkit-animation-name: vibrar;
  animation-name: vibrar;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;

  /*-webkit-transform: rotate (45deg);
   -moz-transform: rotate (45deg);
   -o-transform: rotate (45deg);
   -ms-transform: rotate (45deg);
   transform: rotate (45deg);*/

}








     /* ANIMACION DE DESPLAZAMIENTO PARA SE�ALAR    *** BUBBLE-FLOAT-LEFT *** */





     .bubble-float-left {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
      }
      .bubble-float-left:before {
        position: absolute;
        z-index: -1;
        content: '';
        top: calc(50% - 11px);
        top: -moz-calc(50% - 11px);
        top: -webkit-calc(50% - 11px);
        left: 0;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent #2527B2 transparent transparent;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
      }
      .bubble-float-left:hover, .bubble-float-left:focus, .bubble-float-left:active {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
      }
      .bubble-float-left:hover:before, .bubble-float-left:focus:before, .bubble-float-left:active:before {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
      }







                                /* Icono que se mueve con pulsos */


@-webkit-keyframes pulsos {
  to {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@keyframes pulsos {
  to {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

.pulsos {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.pulsos::before {
  content: url("../images/recursos/icon_out.png");
  position: absolute;
  padding: 10px 5px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.pulsos:hover::before, .pulsos:focus::before, .pulsos:active::before {
  -webkit-animation-name: pulsos;
  animation-name: pulsos;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


                                    /* ANIMACION DE ROTACION LEVE *** ROTAR *** */

@-webkit-keyframes rotar{
  10% {
    -webkit-transform:  rotate(4deg);
    transform: rotate(4deg);
  }

  20% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }

  30% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  40% {
    -webkit-transform: rotate(16deg);
    transform: rotate(16deg);
  }

  50% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  60% {
    -webkit-transform: rotate(16deg);
    transform: rotate(16deg);
  }

  70% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  80% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }

  90% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}




@keyframes rotar {
  10% {
    -webkit-transform:  rotate(4deg);
    transform: rotate(4deg);
  }

  20% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }

  30% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  40% {
    -webkit-transform: rotate(16deg);
    transform: rotate(16deg);
  }

  50% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  60% {
    -webkit-transform: rotate(16deg);
    transform: rotate(16deg);
  }

  70% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  80% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }

  90% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.rotar {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.rotar:hover, .rotar:focus, .rotar:active {
  -webkit-animation-name: rotar;
  animation-name: rotar;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  /*-webkit-transform: rotate (45deg);
   -moz-transform: rotate (45deg);
   -o-transform: rotate (45deg);
   -ms-transform: rotate (45deg);
   transform: rotate (45deg);*/

}






                                         /* ANIMACION DE FLECHA INDICADORA A LA IZQUIERDA INDICADOR-FLOAT-LEFT */


.indicador-float-left {
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.indicador-float-left:before {
    position: absolute;
    z-index: -1;
    content: ' ';
    height: px;
    top: calc(50% - 13px);
    top: -moz-calc(50% - 13px);
    top: -webkiy-calc(50% - 13px);
    left: 0;
    border-style: solid;
    border-width: 12px 12px 12px 15px;
    border-color: transparent transparent transparent black;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.indicador-float-left:hover, .indicador-float-left:focus, .indicador-float-left:active {
  /*-webkit-transform: translateX(10px);
  transform: translateX(10px);*/
}
.indicador-float-left:hover:before, .indicador-float-left:focus:before, .indicador-float-left:active:before {
  -webkit-transform: translateX(-25px);
  transform: translateX(-25px);
}






                                 /*NO ANIMA SOLO HACE QUE EL CONTENIDO SEA REDONDO EN VEZ DE CUADRADO COMO UN DIV NORMAL *** REDONDO *** */

.redondo{
border: 2px solid white;
margin: 0;
padding: 0;
border-radius: 1000px;
overflow: hidden;
}






/* termina  el div redondo*/






                               /* MUESTRA EN LA ESQUINA DEUN DIV UNA POKEBALL O SUPERBALL ETC... *** VIN-POKE/SUPER/ULTRA/MASTER *** */

.vin-poke:before{

    content: url(../images/recursos/pokeball.png);
    position: absolute;
    transform: scale(.5);
    margin-left: -50px;
    margin-top: -50px;
}



.vin-super:before{

    content: url(../images/recursos/superball.png);
    position: absolute;
    transform: scale(.5);
    margin-left: -50px;
    margin-top: -50px;
}


.vin-ultra:before{

    content: url(../images/recursos/ultraball.png);
    position: absolute;
    transform: scale(.5);
    margin-left: -50px;
    margin-top: -50px;
}


.vin-master:before{

    content: url(../images/recursos/masterball.png);
    position: absolute;
    transform: scale(.5);
    margin-left: -50px;
    margin-top: -50px;
}





/*aqui termina la animacion que pone pokeballs en las esquinas de los divs*/















                                                                 /** ANIMACION DE DIGLET QUE DESCIENDE * DIG * **/




.dig {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.dig:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: calc(50% - 11px);
  top: -moz-calc(50% - 11px);
  top: -webkit-calc(50% - 11px);
  left: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #2527B2 transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.dig:hover, .dig:focus, .dig:active {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}
.dig:hover:before, .dig:focus:before, .dig:active:before {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}








