
                                /** BOTON AZUL CON SOLO 2 ESQUINAS REDONDEADAS QUE AL ASAR POR ENCIMA SE ABRE **/


.boton_disenio_estilozo_blue{

    border-style: none;
    background: blue;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: Droid;
    border-radius: 15px 5px 15px 5px;
}

.boton_disenio_estilozo_blue:hover{
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
}