/*
    Created on : 01-sep-2016, 16:24:33
    Author     : Blopo
*/


/***************************************/
/**  HEADER CON TITULO, LOGO Y LOGIN  **/
/***************************************/

    /*** ESTILO RESPONSIVE ***/

/* Screen 1200px o superior */
@media screen and (min-width: 1200px){
    #header_cuenta{     /* div header */
        max-width: 1170px;
        height: 100px;
    }
    #iconoHome img{     /* img icono carpamagik */
        height: 96px;
    }
    #titulo{            /* p contiene le titulo */
        margin: 0 auto;
        margin-left: 15px;
        margin-top: 5px;
    }
    #titulo img{        /* img imagen del titulo */
        width: 650px;
    }
    #login{             /* div contenedor login */
        margin-top: 35px;
        width: 380px;
    }
    #sin_cuenta{         /* tamaño letra registrate */
        font-size: 1.4em;
    }
    #login form input[type=text], #login form input[type=password]{  /* input tamaño campos user/pass */
        width: 115px;
        height: 25px;

    }
    #login form div input[type=submit]{         /* input tamaño boton login */
        width: 70px;
        height: 32px;
    }
}


/* Screen 768px o superior */
@media screen and (min-width: 768px){
    #header_cuenta{     /* div header */
        max-width: 750px;
        height: 80px;
    }
    #iconoHome img{     /* img icono carpamagik */
        height: 78px;
    }
    #titulo{            /* p contiene le titulo */
        margin: 0 auto;
        margin-left: 15px;
        margin-top: 10px;
    }
    #titulo img{        /* img imagen del titulo */
        width: 480px;
    }
    #login{             /* div contenedor login */
        margin-top: 30px;
        width: 380px;
    }
}
/* Screen 992px o superior */
@media screen and (min-width: 992px){
    #header_cuenta{     /* div header */
        max-width: 970px;
        height: 85px;
    }
    #iconoHome img{     /* img icono carpamagik */
        height: 82px;
    }
    #titulo{            /* p contiene le titulo */
        margin: 0 auto;
        margin-left: 15px;
        margin-top: 10px;
    }
    #titulo img{        /* img imagen del titulo */
        width: 500px;
    }
    #login{             /* div contenedor login */
        margin-top: 30px;
        width: 330px;
    }
    #sin_cuenta{         /* tamaño letra registrate */
        font-size: 1.3em;
    }
    #login form input[type=text], #login form input[type=password]{  /* input tamaño campos user/pass */
        width: 100px;
        height: 22px;

    }
    #login form div input[type=submit]{         /* input tamaño boton login */
        width: 60px;
        height: 30px;
    }
}




#header_cuenta{
    margin: 0 auto;
        max-width: 1170px;
        height: 100px;
}

/* logo de web */
#iconoHome{
    margin-left: 3px;
    float: left;
}
#titulo{
    float: left;
}

/* login */
#login{
    position: relative;
    float: right;
}
#login form p{
    margin: 0;
    display: inline-block;
}
#login form input[type=text], #login form input[type=password]{
    background: aliceblue;
    padding-left: 8px;
    padding-right: 5px;
    display: inline-block;
    border-style: outset;
    border-color: darkturquoise;
    border-radius: 8px;
    border-width: 3px;
}
#login form input[type=text]:focus, #login form input[type=password]:focus{
    background: white;
    outline: 0px;
    border-color: #2527B2;
}
#login form div input[type=submit]{
    background: #2527B2;
    text-align: center;
    color: white;
    border: none;
    border-radius: 12px;
    margin-bottom: 2px;
}
#login form div input[type=submit]:hover{
    cursor: pointer;
}
#login form{
    float: right;
    margin-right: 5%;
}
#sin_cuenta{
    font-family: serif;
    padding-left: 8px;
    font-size: 16dp;
    width: 100%;
}




                                 /* LOGOUT */
        #logout{

            display: inline-block;
            margin-top: 10px;
            margin-right: 25px;
            float: right;
        }


        #perfil_name{

            display: inline-block;
            margin-right: 15px;
        }


        #perfil_name p{

            margin: 0;
            font-family: Droid;
            font-size: 26px;
            text-align: right;
            width: 180px;
        }

        #welcome{

            display: inline-block;
            width: 75px;
            height: 75px;
        }

        #welcome img{

            width: 80%;
            height: 80%;
            margin-left: 10%;
            margin-top: 10%;
        }
        #welcome img:hover{

            width: 100%;
            height: 100%;
            margin-left: 0%;
            margin-top: 0%;
        }
        div.avatarOption img:hover{

            width: 100%;
            height: 100%;
            margin-left: 0%;
            margin-top: 0%;
        }
        div#div_autor img:hover{

            width: 100%;
            height: 100%;
            margin-left: 0%;
            margin-top: 0%;
        }


        #form_logout{ display: inline-block; }

        #form_logout form{ padding: 0; }

        #form_logout form button{

            background: transparent;
            border: 0;
            width: 60px;
        }

        #form_logout form button img{

            width: 100%;
            height: 100%;
        }

        #form_logout form button img:hover{ cursor: pointer; }


        /* estilo de los avatares */
        .avatarOption{

            width: 150px;
            height: 150px;
            display: inline-block;
            margin: 15px;
        }

        .avatarOption img{

            width: 80%;
            height: 80%;
            margin-left: 10%;
            margin-top: 10%;
        }





/* EMPIEZA ESTILO DEL NAV (MENU) DE LA PAGINA */

nav {

    min-width: 1050px;
    background-color: #6C69FD;
    position: relative;
    margin: 0 auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


nav ul{
    width: 1050px;
    margin: 0 auto;
    padding: 0;
}

nav li {

    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.18em;
    position: relative;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 500ms ease;

    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

nav li:hover{
    background-color: #2411F0;
}


nav a{
    outline: none;
    color: white;
    text-decoration: none;
}


@media screen and (max-width: 1050px) {
    #menu a:not(:first-child) {display: none;}
    #menu a.icon {
        float: right;
        display: block;
      }
}




/* estilo de la barra de busqueda */
#busqueda_container{

    float: right;
}

#busqueda_container_container form{

    position: relative;
    margin: 3px 120px 0px 0px;
}

#busqueda_container_container input{


    width: 150px;
    border: 0;
    font-size: 14px;
    padding: 8px 35px 8px 8px;
    float: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 5px;
}

#busqueda_container_container button:hover{

    cursor: pointer;
}

#busqueda_container_container button{

    display: block;
    position: absolute;
    top: -2px;
    right: 0;
    width: 38px;
    height: 38px;
    padding: 0;
    border: 0;
    font-size: 12px;
    color: #bbb;
    background: none;
    box-sizing: border-box;
}





/* aqui termina el estilo del menu */




